@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .advantage
        &_block
            align-items: flex-start
        &_descr
            width: 300px
    .mobile
        &_item
            width: 270px
            &_plus
                left: 120px
    .footer
        &_links
            margin: 0 -14%
        &_mobile
            display: flex
            flex-direction: column
