@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .advantage
        &_block
            align-items: flex-start
        &_descr
            width: 300px
    .footer
        &_wrapper > div
            width: 50%
            &:nth-child(1)
                width: 25%
            &:nth-child(3)
                width: 25%
                display: flex
                justify-content: flex-end
        &_mobile
            display: flex
            a
                margin: 0 3px
                img
                    width: 100%

@media (max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 10px
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 11px
        &_phone
            font-size: 20px
        &_btn
            margin-top: 25px
            width: 100%
            height: 40px
            font-size: 13px
    .promo
        &_header
            font-size: 40px
        &_subheader
            font-size: 30px
    .advantage
        &_block
            flex-direction: column
            align-items: center
        &_descr
            width: 300px
            margin-top: 20px
    .mobile
        &_item
            margin: 0 auto
            margin-bottom: 20px
            width: 270px
            &_plus
                left: 120px
            &_subtitle
                font-size: 21px
    .footer
        &_wrapper
            flex-wrap: wrap
        &_wrapper > div
            width: 100%
            display: flex
            justify-content: center
            margin-bottom: 20px
            &:nth-child(1)
                width: 100%
            &:nth-child(3)
                width: 100%
                justify-content: center

@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0, 0, 0, .8)
        transition: 0.3s all
        z-index: 1
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            margin: 10px 0
        &_link
            font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 25px
        height: 12px
        span
            display: block
            width: 100%
            height: 2px
            margin-bottom: 2px
            background-color: #fff
            transition: 0.5s all
        &_active
            span
                &:nth-child(1)
                    transform: rotate(-45deg) translateY(3px)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: rotate(45deg) translateY(-3px)
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .subheader
        &_phone
            display: block
            margin-top: 10px
            color: #fff
            font-size: 18px
            font-weight: 400
            text-transform: uppercase
            text-align: center
        &_btn
            display: block
            width: 200px
            height: 40px
            margin: 0 auto
            margin-top: 10px
    .promo
        &_header
            line-height: 45px
    .possibility
        &_img
            width: 100%
    .footer
        &_divider
            width: 253px
            margin: 0 auto
        &_wrapper
            padding-top: 22px
        &_wrapper > div
            margin-bottom: 20px
            &:nth-child(1)
                order: 2
            &:nth-child(2)
                order: 1
            &:nth-child(3)
                order: 3
        &_links
            width: 290px
            &_main
                padding: 0
                font-size: 14px
            &_sub
                flex-wrap: wrap
                justify-content: center
                a
                    margin: 0 7px
            &_lang
                margin-top: 10px
