*
    font-family: 'Roboto', sans-serif

header
    position: relative

    nav
        min-height: 52px
        background: #212121

.menu
    display: flex
    justify-content: space-between
    padding: 14px 70px
    margin: 0
    list-style-type: none

    .menu_link
        font-weight: 300
        font-size: 15px
        color: #FFFFFF

    .menu_item
        border-right: 2px dotted #000000
        padding-right: 28px

.subheader
    position: absolute
    width: 100%
    height: 87px
    background: rgba(0, 0, 0, 0.6)

    .subheader_logo
        display: block
        max-width: 100%
        margin-top: 17px

    .subheader_official
        font-weight: 400
        font-size: 13px
        color: #FFFFFF
        opacity: 0.6

    .subheader_call
        font-weight: 300
        font-size: 12px
        text-align: right
        color: #FFFFFF
        margin-top: 22px

    .subheader_phone
        display: block
        font-weight: 400
        font-size: 22px
        text-align: right
        text-transform: uppercase
        color: #ffffff
        margin-top: 8px
        line-height: 12px

    .subheader_btn
        margin-top: 19px
        width: 172px
        height: 46px
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
        box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12)
        border: none
        border-radius: 4px
        font-weight: 400
        font-size: 14px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)

.promo
    min-height: 714px
    background: url('../img/bg/uber_bg.jpg') center (center / cover) no-repeat
    padding: 152px 0 185px 0

    .promo_header
        font-weight: 900
        font-size: 60px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF

    .promo_subheader
        font-weight: 700
        font-size: 36px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF

    .promo_descr
        margin-top: 16px
        font-weight: 400
        font-size: 18px
        line-height: 24px
        text-align: center
        color: #FFFFFF

    .promo_btn
        display: block
        width: 259px
        height: 63px
        margin: 0 auto
        margin-top: 116px
        background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12)
        border: none
        border-radius: 4px
        font-weight: 400
        font-size: 18px
        text-align: center
        text-transform: uppercase
        color: #FFFFFF
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21)

.advantage
    min-height: 849px
    padding: 18px 0 64px 0

.label
    width: 115px
    height: 27px
    margin: 0 auto
    background: #000000
    font-weight: 400
    font-size: 11px
    padding: 5px 12px
    text-transform: uppercase
    color: #FFFFFF

.title
    font-weight: 700
    font-size: 38px
    text-align: center
    text-transform: uppercase
    margin-top: 33px
    color: #222222

.advantage .advantage_block
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25px

    .advantage_round
        display: flex
        justify-content: center
        align-items: center
        background: #1EACC7
        width: 116px
        height: 116px
        border-radius: 100%
        margin-right: 25px

    .advantage_descr
        width: 339px

        .advantage_subtitle
            font-weight: 400
            font-size: 17px
            color: #1EACC7
            line-height: 21px

        .advantage_text
            font-weight: 300
            font-size: 15px
            line-height: 21px
            color: #202020

.mobile
    min-height: 864px
    padding: 46px 0 80px 0
    background: #FFFFFF

    .subtitle
        text-align: center
        margin-top: 1px

    .row
        display: flex
        justify-content: space-between
        padding: 32px

    .mobile_item
        position: relative
        width: 320px
        height: 280px
        padding-top: 92px
        margin-bottom: 19px
        &_1
            background: url('../img/card/card1.jpg') center center/cover no-repeat
        &_2
            background: url('../img/card/card2.jpg') center center/cover no-repeat
        &_3
            background: url('../img/card/card3.jpg') center center/cover no-repeat
        &_4
            background: url('../img/card/card4.jpg') center center/cover no-repeat
        &_5
            background: url('../img/card/card5.jpg') center center/cover no-repeat
        &_6
            background: url('../img/card/card6.jpg') center center/cover no-repeat

        .mobile_item_subtitle
            font-weight: 400
            font-size: 24px
            text-align: center
            text-transform: uppercase
            color: #FFFFFF

        .mobile_item_plus
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            bottom: 35px
            left: 145px
            width: 29px
            height: 29px
            background: #000000
            border-radius: 100%
            cursor: pointer
